{% extends "base.html" %}
{% load static %}


{% block title %}
<title>Marco Petit :: CV ::</title>
{% endblock title %}


{% block section %}
                <!--Resume Section Start-->
                <section id="resume" class="resume-section pt-page">
                    <div class="section-container">
                        <div class="page-heading">
                            <span class="icon"><i class="lnr lnr-license"></i></span>
                            <h2>Currículum</h2>
                        </div>
        
                        <!--Education & Experience Row Start-->
                        <div class="row mb-20">
        
                            <!--Experience Column Start-->
                            <div class="col-lg-9">
                                <div class="subheading">
                                    <h3>Experiencia Laboral</h3>
                                </div>
                                <ul class="experience">
        
                                    <!--Experience Item-->
                                    <li>
                                        <span class="line-left"></span>
                                        <div class="content">
                                            <h4>Bussines Analyst</h4>
                                            <h5>Perficient, CABA - Argentina</h5>
                                            <p class="info">Identificación de problemas comerciales, recopilación y registro de datos, análisis de datos y la evaluación y presentación de soluciones de datos. Trabajar con varios grupos, incluida la gestión del servicio al cliente, el desarrollo de productos, las operaciones comerciales y los clientes comerciales.</p>
                                        </div>
                                        <span class="year">
                                            <span class="to">current</span>
                                            <span class="from">2022</span>
                                        </span>
                                    </li>
        
                                    <!--Experience Item-->
                                    <li>
                                        <span class="line-left"></span>
                                        <div class="content">
                                            <h4>Functional Analyst</h4>
                                            <h5>Advertmind, CABA - Argentina</h5>
                                            <p class="info">Recepción y gestión de requerimientos de clientes en las áreas de Facturación, Planificación publicitaria en Radio, TV, y Digital para ofrecer soluciones ágiles que satisfagan necesidades de clientes tanto externos como internos. Uso de metodologías ágiles. Elaboración de Documentos funcionales y Documentos Técnicos. Manejo de SQL. Documentación de funcionalidades. Comprender funcionalidades haciendo revisión de código. Aplicación de metodologías de experiencias de usuario (UX) aplicando heurísticas, encuestas, UX Writting y UX Design. Redacción de escenarios y casos de prueba, facilitar datos para su testeo.</p>
                                        </div>
                                        <span class="year">
                                            <span class="to">2022</span>
                                            <span class="from">20201915</span>
                                        </span>
                                    </li>
        
                                    <!--Experience Item-->
                                    <li>
                                        <span class="line-left"></span>
                                        <div class="content">
                                            <h4>Quality Assurance Tester</h4>
                                            <h5>Advertmind, CABA - Argentina</h5>
                                            <p class="info">Comprender y analizar las necesidades del negocio en base a la revisión de documentos (documento de especificaciones funcionales, documentos de especificaciones técnicas, etc.).
                                                Comprender los requisitos detallados de las funcionalidades, si es necesario diseñar escenarios de prueba, preparar los datos de prueba y ejecutar los escenarios de prueba para asegurar los defectos mínimos dentro del sistema y las especificaciones del proyecto.
                                                Realizar pruebas de humo para garantizar la preparación del sistema para la prueba; Ejecute scripts de prueba de automatización / escenarios de prueba manuales y automatizados; Registrar y mantener evidencia de prueba y monitorear el estado de ejecución de escenarios de prueba asignados; comparta los resultados con la evaluación comparativa de control de calidad.
                                                Tratamiento de defectos y errores: registro de defectos desde su creación (generado a partir de la herramienta mantis) hasta el cierre; Participar junto con el desarrollador para determinar las pruebas esenciales para la identificación de defectos, asignar prioridades de defectos; Volver a probar el defecto y actualizar su estado.</p>
                                        </div>
                                        <span class="year">
                                            <span class="to">2019</span>
                                            <span class="from">2017</span>
                                        </span>
                                    </li>

                                    <li>
                                        <span class="line-left"></span>
                                        <div class="content">
                                            <h4>Fatwire Contributer / Web Developer /QA</h4>
                                            <h5>Cognizant, CABA - Argentina</h5>
                                            <p class="info">Desarrollo de interfaces, desarrollo de servicios, creación de procedimientos almacenados usando HTML, CCS, Java, JavaScript). Volver a trabajar en el código en función de la revisión del código / defectos surgidos en las pruebas unitarias o cualquier otra fase de prueba relevante. Ejecución los casos de prueba, detección y corrección de errores. Casos de prueba, pruebas manuales.</p>
                                        </div>
                                        <span class="year">
                                            <span class="to">2017</span>
                                            <span class="from">2015</span>
                                        </span>
                                    </li>

                                    <li>
                                        <span class="line-left"></span>
                                        <div class="content">
                                            <h4>Web Researcher - Junior HTML Developer</h4>
                                            <h5>AccelOne, CABA - Argentina</h5>
                                            <p class="info">Web Scraping: Aplicación de conocimientos en HTML, expresiones regulares y XPath. Capacidad de trabajo en equipo, logrando superar las metas marcadas al inicio ahorrando un 200% de los recursos presupuestados para tal fin. Implementaciones en WordPress.</p>
                                        </div>
                                        <span class="year">
                                            <span class="to">2015</span>
                                            <span class="from">2014</span>
                                        </span>
                                    </li>

                                    <li>
                                        <span class="line-left"></span>
                                        <div class="content">
                                            <h4>Coordinador Integral de Operaciones</h4>
                                            <h5>FUNDAUNES, Caracas - Venezuela </h5>
                                            <p class="info">Contribuir al desarrollo de metas y objetivos estratégicos, así como a la gestión general de la organización; establecer y monitorear el desempeño del personal y las metas de desarrollo, asignar responsabilidades, establecer objetivos, establecer prioridades, realizar evaluaciones anuales del desempeño y administrar ajustes salariales; monitorear y evaluar los resultados. Actualizar e implementar un sistema apropiado de políticas, controles internos, estándares contables y procedimientos. Control Administrativo de Imprenta de la Universidad Nacional Experimental de Seguridad y participación en el Comité Editorial. Tutor de prácticas empresariales.</p>
                                        </div>
                                        <span class="year">
                                            <span class="to">2014</span>
                                            <span class="from">2012</span>
                                        </span>
                                    </li>

                                    <li>
                                        <span class="line-left"></span>
                                        <div class="content">
                                            <h4>Asesor en gestión de proyectos</h4>
                                            <h5>UNES, Caracas - Venezuela</h5>
                                            <p class="info">Asesoría en el proyecto de creación de la Fundación para la Universidad Nacional Experimental de la Seguridad (FUNDAUNES) aportando información y recomendaciones a los planes estratégicos y revisiones. Elaboración y ejecución de planes de acción; implementar estándares de producción, productividad, calidad y servicio al cliente; completar auditorías. Determine los objetivos y medidas sobre los cuales se evaluará el proyecto una vez finalizado. Reclutar, entrevistar y seleccionar personal y / o voluntarios con las habilidades adecuadas para las actividades del proyecto; Escribe informes sobre el proyecto para conocer el estado de la gestión. Monitorear las proyecciones de flujo de efectivo e informar el flujo de efectivo real y la variación a la alta gerencia de forma regular; Administre todos los fondos del proyecto de acuerdo con las políticas y procedimientos contables establecidos.</p>
                                        </div>
                                        <span class="year">
                                            <span class="to">2012</span>
                                            <span class="from">2012</span>
                                        </span>
                                    </li>

                                    <li>
                                        <span class="line-left"></span>
                                        <div class="content">
                                            <h4>Asistente de proyecto</h4>
                                            <h5>UNES, Caracas - Venezuela</h5>
                                            <p class="info">Monitorear y evaluar los indicadores de desempeño y desarrollo en varios departamentos. Delegar tareas administrativas, e informar el progreso a los altos directivos y diversas partes interesadas. Crear e implementar controles internos, estándares y procedimientos. Elaboración de manuales de políticas y procedimientos. Escribir informes sobre el proyecto para conocer el estado de la gestión. Desarrollo de pautas básicas para la creación de una sala de situaciones. Desarrollo y análisis de indicadores. Logística de eventos inherentes al Rectorado.</p>
                                        </div>
                                        <span class="year">
                                            <span class="to">2012</span>
                                            <span class="from">2011</span>
                                        </span>
                                    </li>

                                    <li>
                                        <span class="line-left"></span>
                                        <div class="content">
                                            <h4>Asesor en gestión de proyectos</h4>
                                            <h5>Ministerio del Poder Popular Relaciones Interiores y Justicia, Caracas - Venezuela</h5>
                                            <p class="info">Asesoría en la gestión del proyecto para la creación de la Universidad Nacional Bolivariana de la Seguridad, recopilación de datos importantes sobre el proyecto, investigación sobre regulaciones legales. preparar informes, gestión de la información de todo el personal del proyecto, seguimiento de tareas.</p>
                                        </div>
                                        <span class="year">
                                            <span class="to">2011</span>
                                            <span class="from">2010</span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="line-left"></span>
                                        <div class="content">
                                            <h4>Cajero / Cajero principal</h4>
                                            <h5>Banco Mercantil, Caracas - Venezuela</h5>
                                            <p class="info">Atención al cliente, Procesamiento de depósitos y retiros, pago de cheques y emisión de cheques de gerencia; Operaciones de cambio de divisas, recuento y empaquetado de billetes y monedas. Custodio de Bóveda. Arqueo y de Bóveda, Cajeros automáticos y caja.</p>
                                        </div>
                                        <span class="year">
                                            <span class="to">2010</span>
                                            <span class="from">2007</span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="line-left"></span>
                                        <div class="content">
                                            <h4>Asistente de tienda</h4>
                                            <h5>Bodegón Caroní, Caracas - Venezuela</h5>
                                            <p class="info">Atención al cliente, caja, reposición de inventario.</p>
                                        </div>
                                        <span class="year">
                                            <span class="to">2007</span>
                                            <span class="from">2007</span>
                                        </span>
                                    </li>
        
                                </ul>
                            </div>
                            <!--Experience Column End-->
        
                            <!--Education Column Start
                            <div class="col-lg-6">
                                <div class="subheading">
                                    <h3>Education</h3>
                                </div>
        
                                <ul class="education">-->
        
                                    <!--Education Item
                                    <li>
                                        <span class="line-left"></span>
                                        <div class="content">
                                            <h4>MA Graphics</h4>
                                            <h5>Royal College of Art, London, UK</h5>
                                            <p class="info">
                                                Consectetur mollitia amet inventore nisi sed. Provident veritatis exercitationem eum doloremque itaque expedita? Ex voluptatem nostrum numquam illum.
                                            </p>
                                        </div>
                                        <span class="year">
                                            <span class="to">2014</span>
                                            <span class="from">2013</span>
                                        </span>
                                    </li>-->
        
                                    <!--Education Item
                                    <li>
                                        <span class="line-left"></span>
                                        <div class="content">
                                            <h4>BA(HONS) Graphics</h4>
                                            <h5>Central Saint Martins, London, UK</h5>
                                            <p class="info">
                                                Elit voluptatibus quas necessitatibus ullam tenetur provident voluptatibus. Ratione delectus lorem minus ipsa architecto. Saepe officiis sint adipisci.
                                            </p>
                                        </div>
                                        <span class="year">
                                            <span class="to">2013</span>
                                            <span class="from">2012</span>
                                        </span>
                                    </li>-->
        
                                    <!--Education Item
                                    <li>
                                        <span class="line-left"></span>
                                        <div class="content">
                                            <h4>Web & Graphics Diploma</h4>
                                            <h5>Tech Arts Institute, CA, USA</h5>
                                            <p class="info">
                                            Ipsum ex exercitationem est aliquid eos saepe. Dolorum aperiam cupiditate labore vero deleniti Aut unde deserunt neque voluptas.
                                            </p>
                                        </div>
                                        <span class="year">
                                            <span class="to">2012</span>
                                            <span class="from">2011</span>
                                        </span>
                                    </li>-->
        
                                <!--</ul>
                            </div>
                            Education Column End-->
        
                        </div>
                        <!--Education & Experience Row End-->
        
        
                        <!--Skills Row Start
                        <div class="row">-->
        
                            <!--Design Skills Column Start
                            <div class="col-lg-6 skills">
                                <div class="subheading">
                                    <h3>Design Skills</h3>
                                </div>-->
        
                                <!--Design Skill Item
                                <div class="skill-item">
                                    <h4 class="progress-title">Coral Draw</h4>
                                    <div class="progress">
                                        <div class="progress-bar" data-progress-value="91">
                                            <div class="progress-value">91%</div>
                                        </div>
                                    </div>
                                </div>-->
        
                                <!--Design Skill Item
                                <div class="skill-item">
                                    <h4 class="progress-title">Photoshop</h4>
                                    <div class="progress">
                                        <div class="progress-bar" data-progress-value="82">
                                            <div class="progress-value">82%</div>
                                        </div>
                                    </div>
                                </div>-->
        
                                <!--Design Skill Item
                                <div class="skill-item">
                                    <h4 class="progress-title">Illustrator</h4>
                                    <div class="progress">
                                        <div class="progress-bar" data-progress-value="94">
                                            <div class="progress-value">94%</div>
                                        </div>
                                    </div>
                                </div>-->
        
                            <!--</div>
                            Design Skills Column End-->
        
                            <!--Coding Skills Column Start
                            <div class="col-lg-6 skills">
                                <div class="subheading">
                                    <h3>Coding Skills</h3>
                                </div>-->
        
                                <!--Coding Skill Item
                                <div class="skill-item">
                                    <h4 class="progress-title">HTML5</h4>
                                    <div class="progress">
                                        <div class="progress-bar" data-progress-value="83">
                                            <div class="progress-value">83%</div>
                                        </div>
                                    </div>
                                </div>-->
        
                                <!--Coding Skill Item
                                <div class="skill-item">
                                    <h4 class="progress-title">CSS3</h4>
                                    <div class="progress">
                                        <div class="progress-bar" data-progress-value="75">
                                            <div class="progress-value">75%</div>
                                        </div>
                                    </div>
                                </div>-->
        
                                <!--Coding Skill Item
                                <div class="skill-item">
                                    <h4 class="progress-title">Javascript</h4>
                                    <div class="progress">
                                        <div class="progress-bar" data-progress-value="92">
                                            <div class="progress-value">92%</div>
                                        </div>
                                    </div>
                                </div>-->
        
                            <!--</div>
                            Coding Skills Column End-->
        
                        <!--</div>
                        Skills Row End-->
                    </div>
                </section>
                <!--Resume Section End-->
{% endblock section %}