{% extends "base.html" %}
{% load static %}


{% block title %}
<title>Marco Petit :: Inicio ::</title>
{% endblock title %}

{% block preloader%}
<!--Preloader Start-->
<div class="preloader">
    <div class="loader">
        <!--Your Name-->
        <h4>Marco Petit</h4>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!--Preloader End-->
{% endblock preloader%}

{% block section %}
        <!--Banner Section Start-->
        <section id="home" class="banner-section pt-page" style="background-image: url('static/img/background/home-bg.jpg')">

            <div class="banner-content">
                <!--Banner Text-->
                <img src="{% static 'img/logo_marco_blanco.png' %}" style="width: 350px;" alt="Marco Petit logo">

                <!--Animated Text-->
                <p class="cd-headline clip is-full-width">
                <span>Soy </span>
                <span class="cd-words-wrapper">
                    <b class="is-visible">analítico</b>
                    <b>perseverante</b>
                    <b>creativo</b>
                    <b>yo mismo</b>
                </span>
                </p>

            </div>

        </section>
        <!--Banner Section End-->

        <!--Blog Section Start-->
        <section id="blog" class="blog-section pt-page">
            <div class="section-container">

                <!--Page Heading-->
                <div class="page-heading">
                    <span class="icon"><i class="lnr lnr-book"></i></span>
                    <h2>Mis escritos</h2>
                </div>

                <div class="row blogs-masonry">

                    <div class="col-lg-4 col-sm-6">
                        <a href={% static "blog-dark.html" %} class="blog-item">
                            <div class="blog-image">
                                <img src={% static "img/blog/img-1.jpg" %} alt="#">
                            </div>
                            <div class="blog-content">
                                <span class="cat">Piezas</span>
                                <h4>Un mensaje para ti</h4>
                                <div class="blog-date">Junio, 2021</div>
                            </div>
                        </a>
                    </div>

                    <!--<div class="col-lg-4 col-sm-6">
                        <a href="blog-dark.html" class="blog-item">
                            <div class="blog-image">
                                <img src="img/blog/img-2.jpg" alt="#">
                            </div>
                            <div class="blog-content">
                                <span class="cat">Personal</span>
                                <h4 class="blog-title">Things I Need to Get Started</h4>
                                <div class="blog-date">August 10, 2018</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a href="blog-dark.html" class="blog-item">
                            <div class="blog-image">
                                <img src="img/blog/img-3.jpg" alt="#">
                            </div>
                            <div class="blog-content">
                                <span class="cat">Design</span>
                                <h4 class="blog-title">My Current Workspace</h4>
                                <div class="blog-date">August 4, 2018</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a href="blog-dark.html" class="blog-item">
                            <div class="blog-image">
                                <img src="img/blog/img-4.jpg" alt="#">
                            </div>
                            <div class="blog-content">
                                <span class="cat">Traveling</span>
                                <h4 class="blog-title">Best Place to Travel this Summer</h4>
                                <div class="blog-date">July 28, 2018</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a href="blog-dark.html" class="blog-item">
                            <div class="blog-image">
                                <img src="img/blog/img-5.jpg" alt="#">
                            </div>
                            <div class="blog-content">
                                <span class="cat">Web Design</span>
                                <h4 class="blog-title">Latest UI Trends to Inspired From</h4>
                                <div class="blog-date">July 25, 2018</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a href="blog-dark.html" class="blog-item">
                            <div class="blog-image">
                                <img src="img/blog/img-6.jpg" alt="#">
                            </div>
                            <div class="blog-content">
                                <span class="cat">Technology</span>
                                <h4 class="blog-title">Latest Tech 2018</h4>
                                <div class="blog-date">July 19, 2018</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a href="blog-dark.html" class="blog-item">
                            <div class="blog-image">
                                <img src="img/blog/img-7.jpg" alt="#">
                            </div>
                            <div class="blog-content">
                                <span class="cat">LifeStyle</span>
                                <h4 class="blog-title">Best & Easy To cook</h4>
                                <div class="blog-date">July 10, 2018</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a href="blog-dark.html" class="blog-item">
                            <div class="blog-image">
                                <img src="img/blog/img-8.jpg" alt="#">
                            </div>
                            <div class="blog-content">
                                <span class="cat">Technology</span>
                                <h4 class="blog-title">Best Sound Editing Software</h4>
                                <div class="blog-date">July 1, 2018</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a href="blog-dark.html" class="blog-item">
                            <div class="blog-image">
                                <img src="img/blog/img-9.jpg" alt="#">
                            </div>
                            <div class="blog-content">
                                <span class="cat">Traveling</span>
                                <h4 class="blog-title">Top Beaches in the world</h4>
                                <div class="blog-date">June 24, 2018</div>
                            </div>
                        </a>
                    </div>-->


                </div>
            </div>
        </section>
        <!--Blog Section End-->
{% endblock section %}