{% extends "base.html" %}
{% load static %}


{% block title %}
<title>Marco Petit :: Podcast Punto Alternativo ::</title>
{% endblock title %}


{% block section %}
        <!--Porfolio Section Start-->
        <section id="portfolio" class="portfolio-section pt-page">
            <div class="section-container">

                <!--Page Heading-->
                <div class="page-heading">
                    <span class="icon"><i class="lnr lnr-mic"></i></span>
                    <h2>Podcast Punto Alternativo</h2>
                    <p>Aquí te dejo los accesos de las distintas plataformas en las cuales puedes escuchar y ver Punto Alternativo.</p>
                </div>

                <div class="row">
                    <!--Portfolio Filter-->
                    <div class="col-md-12 portfolio-filter text-center">
                        <ul>
                            <li class="active" data-filter="*">Todo</li>
                            <!--<li data-filter=".brand">Brand</li>-->
                            <li data-filter=".audio">Audio</li>
                            <li data-filter=".youtube">Youtube</li>
                        </ul>
                    </div>
                </div>

                <!--Portfolio Items-->
                <div class="row portfolio-items mb-50">

                    <!--Portfolio Item-->
                    <div class="item col-lg-4 col-sm-6 youtube">
                        <a class="video-link" href="https://www.youtube.com/playlist?list=PLsO7pXLdkWaWUMZ0y4y5zvtbgOFV8LBHh">
                            <figure>
                                <img src="{% static 'img/portfolio/img-3.jpg' %}" alt="">
                                <figcaption>
                                    <h4>Youtube</h4>
                                    <p>Temporada 2</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>

                    
                    <!--Portfolio Item-->
                    <div class="item col-lg-4 col-sm-6 audio">
                        <a class="video-link" href="https://www.youtube.com/playlist?list=PLsO7pXLdkWaWUMZ0y4y5zvtbgOFV8LBHh">
                            <figure>
                                <img src="{% static 'img/portfolio/img-3.jpg' %}" alt="">
                                <figcaption>
                                    <h4>Youtube</h4>
                                    <p>Temporada 2</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    
                    <!--Portfolio Item
                    <div class="item col-lg-4 col-sm-6 brand graphic">
                        <a class="image-link" href="img/portfolio/img-1.jpg">
                            <figure>
                                <img src="img/portfolio/img-1.jpg" alt="">
                                <figcaption>
                                    <h4>Book Design</h4>
                                    <p>Graphic</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>-->

                    <!--Portfolio Item
                    <div class="item col-lg-4 col-sm-6 design">
                        <a class="ajax-link" href="single-work.html">
                            <figure>
                                <img src="img/portfolio/img-2.jpg" alt="">
                                <figcaption>
                                    <h4>Notepad Design</h4>
                                    <p>Design</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>-->

                    <!--Portfolio Item
                    <div class="item col-lg-4 col-sm-6 audio">
                        <a class="image-link" href="https://open.spotify.com/show/0wIgoIHKm49v4l0ONoXNCw?si=e518559505ae4714">
                            <figure>
                                <img src="img/portfolio/img-4.jpg" alt="">
                                <figcaption>
                                    <h4>Business Card</h4>
                                    <p>Audio</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>-->

                    <!--Portfolio Item
                    <div class="item col-lg-4 col-sm-6 brand">
                        <a class="ajax-link" href="single-work.html">
                            <figure>
                                <img src="img/portfolio/img-5.jpg" alt="">
                                <figcaption>
                                    <h4>Back Pack</h4>
                                    <p>Brand</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>-->

                    <!--Portfolio Item
                    <div class="item col-lg-4 col-sm-6 design">
                        <a class="ajax-link" href="single-work.html">
                            <figure>
                                <img src="img/portfolio/img-6.jpg" alt="">
                                <figcaption>
                                    <h4>Door Hangar</h4>
                                    <p>Design</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>-->

                    <!--Portfolio Item
                    <div class="item col-lg-4 col-sm-6 graphic">
                        <a class="image-link" href="img/portfolio/img-7.jpg">
                            <figure>
                                <img src="img/portfolio/img-7.jpg" alt="">
                                <figcaption>
                                    <h4>Notepad Design</h4>
                                    <p>graphic</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>-->

                    <!--Portfolio Item
                    <div class="item col-lg-4 col-sm-6 brand">
                        <a class="image-link" href="img/portfolio/img-8.jpg">
                            <figure>
                                <img src="img/portfolio/img-8.jpg" alt="">
                                <figcaption>
                                    <h4>Creative Flyer</h4>
                                    <p>Brand</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>-->

                    <!--Portfolio Item
                    <div class="item col-lg-4 col-sm-6 brand">
                        <a class="video-link" href="https://www.youtube.com/watch?v=k_okcNVZqqI">
                            <figure>
                                <img src="img/portfolio/img-9.jpg" alt="">
                                <figcaption>
                                    <h4>Mobile App</h4>
                                    <p>Brand</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>-->

                    <!--Portfolio Item
                    <div class="item col-lg-4 col-sm-6 graphic">
                        <a class="image-link" href="img/portfolio/img-10.jpg">
                            <figure>
                                <img src="img/portfolio/img-10.jpg" alt="">
                                <figcaption>
                                    <h4>Cup Design</h4>
                                    <p>Graphic</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>-->

                    <!--Portfolio Item
                    <div class="item col-lg-4 col-sm-6 brand graphic">
                        <a class="ajax-link" href="single-work.html">
                            <figure>
                                <img src="img/portfolio/img-11.jpg" alt="">
                                <figcaption>
                                    <h4>Creative Box</h4>
                                    <p>brand</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>-->

                </div>
            </div>
        </section>
        <!--Porfolio Section End-->


        
{% endblock section %}