{% extends "base.html" %} 

{% block title %}
<title>Marco Petit :: Mis mensajes ::</title>
{% endblock title %}

{% block section %}
<section class="blog-section pt-page">
    <div class="section-container">
        {% if request.user.is_authenticated %}
            <div class="page-heading">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active"><a class="nav-link" href={% url "mis_mensajes" %}>Mis mensajes <span class="sr-only">(current)</span></a></li>
                            <li class="nav-item"><a class="nav-link" href={% url "mensaje_enviar" %}>Enviar mensaje</a></li>
                            <li class="nav-item"><a class="nav-link" href={% url "bandeja_salida" %}>Mensajes enviados</a></li>
                        </ul>
                    </div>
                </nav>
            </div> 
        {% endif %}
        {% block sub-section %}
        <div class="page-heading">
            <span class="icon">
                <i class="lnr lnr-envelope"></i>
            </span>
            <h2>Mis mensajes</h2>
        </div>
        {% if listado_de_mensajes_recibidos %}
        <table class="table table-dark">
            <thead>
                <tr>
                    <th colspan="2" scope="col" class="text-center">Mensaje</th>
                </tr>
            </thead>
            <tbody class="table-group-divider"> 
            {% for mensaje in listado_de_mensajes_recibidos %}
                <tr>
                    <td><a href={% url "detalle_mensaje" mensaje.id %}>{{mensaje | capfirst}}</a></td>
                    <td class="text-center">
                        <a href={% url "mensaje_eliminar" mensaje.id %}>
                            <i class="lnr lnr-trash"></i>
                        </a>
                    </td>
                </tr> 
            {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-warning" role="alert">Buzón vacío</div> 
        {% endif %}
    </div>
</section>
<!--blog sub-section -->
{% endblock sub-section %}
{% endblock section %}