{% extends "base.html" %} 

{% block title %}
<title>Marco Petit :: Editar perfil ::</title>
{% endblock title %}

{% block section %}
<section class="blog-section pt-page">
    <div class="section-container">
        <div class="page-heading">
            <span class="icon">
                <i class="lnr lnr-graduation-hat"></i>
            </span>
            <h2>Editar perfil</h2>
        </div>
        <form action={% url "editar_perfil" %} method="POST" enctype='multipart/form-data'>
            {% csrf_token %} 
            <table>
                {{formulario_de_edicion}}
            </table>
            <input type="submit" class="btn-main" value="Actualizar Perfil">
            <a href={% url "perfil" %} class="btn-main"><i class="lnr lnr-cross"></i>Cancelar</a>
        </form>
    </div>
</section>
<!--blog sub-section -->
{% endblock section %}