{% extends "base.html" %} 

{% block title %}
<title>Marco Petit :: Editar perfil ::</title>
{% endblock title %}

{% block section %}
<section class="blog-section pt-page">
    <div class="section-container">
        <div class="page-heading">
            <span class="icon">
                <i class="lnr lnr-users"></i>
            </span>
            <h2>Editar perfil</h2>
        </div>
        <form action={% url "editar_perfil" %} method="POST" enctype='multipart/form-data' style="margin-bottom: 2em;" >
            {% csrf_token %} 
            <table>
                {{formulario_de_edicion}}
            </table>
            <button type="submit" class="btn-main">Actualizar Perfil</button>
            <button type="reset" class="btn-main">Borrar</button>
        </form>
        <a href={% url "perfil" %}><button type="button" class="btn-main">Regresar</button></a>
    </div>
</section>
<!--blog sub-section -->
{% endblock section %}