{% extends "base.html" %} 

{% block title %}
<title>Marco Petit :: Logout ::</title>
{% endblock title %}

{% block section %}
<section class="blog-section pt-page">
    <div class="section-container">
        <div class="page-heading">
            <span class="icon">
                <i class="lnr lnr-users"></i>
            </span>
            <h2>Logout</h2>
        </div>
        <h3>La sesión ha sido cerrada satisfactoriamente</h3>
    </div>
</section>
<!--blog sub-section -->
{% endblock section %}