{% extends "base.html" %} 

{% block title %}
<title>Marco Petit :: Registro ::</title>
{% endblock title %}

{% block section %}
<section class="blog-section pt-page">
    <div class="section-container">
        <div class="page-heading">
            <span class="icon">
                <i class="lnr lnr-users"></i>
            </span>
            <h2>Registro de usuarios</h2>
        </div>
        <form action={% url "registro" %} method="POST">
            {% csrf_token %} 
            <table>
                {{formulario_de_registro}}
            </table>
            <button type="submit" class="btn-main">Registrar</button>
            <button type="reset" class="btn-main">Borrar</button>
        </form>
    </div>
</section>
<!--blog sub-section -->
{% endblock section %}