{% extends "base.html" %} 
{% load static %}

{% block title %}
<title>Marco Petit :: Blog ::</title> 
{% endblock title %} 

{% block section %}
<!--Crear categoria Section Start-->
<section id="blog" class="blog-section pt-page">
  <div class="section-container">
    <!--Page Heading-->
    <div class="page-heading">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href={% url "blog" %}>Blog <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href={% url "crear_entrada" %}>+ Crear entrada</a></li>
            <li class="nav-item"><a class="nav-link" href={% url "entradas" %}>Entradas</a></li>
            <li class="nav-item"><a class="nav-link" href={% url "categorias" %}>Categorías</a></li>
            <li class="nav-item"><a class="nav-link" href={% url "etiquetas" %}>Etiquetas</a></li>
          </ul>
        </div>
      </nav>
    </div> 
    {% block sub-section %}
    <!--blog sub-section -->
    <div class="page-heading">
      <span class="icon"><i class="lnr lnr-file-add"></i></span>
      <h2>Mis escritos</h2>
    </div>
    <div class="row blogs-masonry">
      {% if listado_entradas %}
        {% for entrada in listado_entradas %} 
        <div class="col-lg-4 col-sm-6">
          <a href="/blog/entrada/{{entrada.id}}" class="blog-item">
            <div class="blog-image">
              {% if entrada.imagen_portada %}
                <img src="{{entrada.imagen_portada.url}}" alt="#">
              {% else %}
                <img src="{% static 'img/blog/img-0.jpg' %}" alt="#">
              {% endif %}
            </div>
            <div class="blog-content">
              <!--<span class="cat">Web Design</span>-->
              <h4 class="blog-title">{{entrada.titulo | capfirst}}</h4>
              <div class="blog-date">{{entrada.fecha_publicacion |date:"d/m/y"}}</div>
            </div>
          </a>
        </div>
        {% endfor %} 
      {% else %} 
      <div class="alert alert-warning" role="alert"> No se encontraron entradas</div> 
      {% endif %}
    <!--end blog sub-section --> 
    {% endblock sub-section %}
</section>
<!--Crear categoria Section End-->
{% endblock section %}