{% extends "blog/blog.html" %} 

{% block title %} 
<title>Marco Petit :: Categorías ::</title> 
{% endblock title %} 

{% block sub-section %}
<!--blog sub-section -->
<div class="page-heading">
    <span class="icon">
        <i class="lnr lnr-file-add"></i>
    </span>
    <h2>Categorías</h2>
</div>
<!--Form Row-->
<div class="row mb-70">
    <div class="col-lg-8  offset-lg-2">
        <div class="subheading">
            <h3>Listado de categorías</h3>
        </div>
        <div class="boton-crear-menu">
            <!-- Button trigger modal -->
            <button type="button" class="btn-main" data-toggle="modal" data-target="#exampleModal">
                <i class="lnr lnr-plus-circle"></i> Crear categoría </button>
        </div>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="categoria_a_buscar" placeholder="Categoria" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">buscar</button>
        </form> 
        {% if listado_categorias %} 
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th colspan="2" scope="col" class="text-center">Acción</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider"> 
                    {% for categoria in listado_categorias %} 
                        <tr>
                            <th scope="row">{{categoria.id}}</th>
                            <td>{{categoria.nombre | capfirst}}</td>
                            <td class="text-center">
                                <a href="#">
                                    <i class="lnr lnr-pencil"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="#">
                                    <i class="lnr lnr-trash"></i>
                                </a>
                            </td>
                        </tr> 
                    {% endfor %} 
                </tbody>
            </table> 
        {% else %} 
            <div class="alert alert-warning" role="alert"> No se encontraron categorías</div> 
        {% endif %}
    </div>
</div>
<!--modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content crear-editar-modal">
            <div class="modal-header">
                <h3 id="exampleModalLabel">Crear categoría</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--Form Start-->
                <form method="POST"> {% csrf_token %} <div class="row">
                    <div class="col-md-12 mb-50">
                        <span class="input">
                            {{formulario.nombre}}
                            <label class="input__label">{{formulario.nombre.label_tag}}</label>
                        </span>
                        {{formulario.nombre.errors}}
                        <div class="modal-footer">
                            <button type="submit" class="btn-main">Crear Categoría</button>
                            <button type="button" class="btn-main" data-dismiss="modal" aria-label="Close">Cancelar</button>
                        </div>
                    </div>
                </form>
                <!--Form End-->
            </div>            
        </div>
    </div>
</div>
<!--modal End-->
<!--end blog sub-section --> 
{% endblock sub-section %}