{% extends "base.html" %} 
{% load static %}

{% block section %}
<div class="blog-page">
  {% if entrada %} 
    <div class="blog-image">
      {% if entrada.imagen_portada %}
      <img src="{{entrada.imagen_portada.url}}" alt="" style="width: 500px;">
      {% else %}
      <div style="width: 300px; height: 300px;"></div>
      {% endif %}
  </div>
  <div class="blog-container">
    <div class="row">
      <!--Blog Heading Start-->
      <div class="blog-heading col-md-8 offset-md-2">
        <!--<span class="cat">Fashion</span>-->
        <h1>{{entrada.titulo | capfirst}}</h1>
        <span class="blog-date">{{entrada.fecha_publicacion |date:"d/m/y"}}</span>
      </div>      
      <!--Blog Heading Start-->
        <!--Blog Content Start-->
        <div class="blog-content col-md-10 offset-md-1">
          {{entrada.contenido  | safe}}
        </div>
        <!--Blog Content End-->
    </div>
</div>
  {% else %} 
    <div class="alert alert-warning" role="alert"> No se encontraron registros</div> 
  {% endif %} 
</div>
{% endblock section %}