{% extends "blog/blog.html" %}

{% block title %}
<title>Marco Petit :: Editar entrada ::</title>
{% endblock title %}

{% block sub-section %}
<!--blog sub-section -->
<div class="page-heading">
    <span class="icon">
        <i class="lnr lnr-file-add"></i>
    </span>
    <h2>Blog</h2>
</div>
<!--Form Row-->
<div class="row mb-70">
    <div class="col-lg-8  offset-lg-2">
        <div class="subheading">
            <h3>Editar entrada</h3>
        </div>
        <!--Form Start-->
        <form method="POST" enctype="multipart/form-data"> 
            {% csrf_token %} 
            <div class="col-md-12 mb-50">
                <div style="padding-bottom: 2em;">
                    <span class="input">
                        {{formulario.id_categoria}}
                        <label class="input__label">{{formulario.id_categoria.label_tag}}</label>
                    </span>
                    <div class="alert-container col-md-12">{{formulario.id_categoria.errors}}</div>
                </div>
                <div style="padding-top: 1em;">
                    <span class="input">
                        {{formulario.titulo}}
                        <label class="input__label">{{formulario.titulo.label_tag}}</label>
                    </span>
                    <div class="alert-container col-md-12">{{formulario.titulo.errors}}</div>
                </div>
                <div style="padding-top: 2em;">
                    <span class="input">
                        {{formulario.sub_titulo}}
                        <label class="input__label">{{formulario.sub_titulo.label_tag}}</label>
                    </span>
                    <div class="alert-container col-md-12">{{formulario.sub_titulo.errors}}</div>
                </div>
                <div style="padding-top: 2em;">
                    <span class="input">
                        {{formulario.media}}
                        {{formulario.contenido}}
                        <label class="input__label">{{formulario.contenido.label_tag}}</label>
                    </span>
                    <div class="alert-container col-md-12">{{formulario.contenido.errors}}</div>
                </div>
                <span class="input" style="padding-top: 1em;">
                    {{formulario.imagen_portada}}        
                    {% if formulario.initial.imagen_portada %}
                        <p>Imagen actual: {{ formulario.initial.imagen_portada.name }}</p>
                    {% endif %}
                </span>
                <div class="alert-container col-md-12">{{formulario.imagen_portada.errors}}</div>
            </div>
            <div style="padding-bottom: 1em;">
                <span class="input">
                    {{formulario.etiquetas}}
                    <label class="input__label check_label_marco">{{formulario.etiquetas.label_tag}}</label>
                </span>
                <div class="alert-container col-md-12">{{formulario.etiquetas.errors}}</div>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn-main">Actualizar Entrada</button>
                <button type="reset" class="btn-main">Borrar</button>
            </div>
        </form>
        <!--Form End-->
    </div>
</div>
<!--end blog sub-section --> 
{% endblock sub-section %}