{% load static %}
<!DOCTYPE html>
<html lang="en" data-random-animation="false" data-animation="11">
    <head>
        <!--Meta Tags-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="vcard, resume, personal, portfolio, cv, card, responsive" />
        <meta name="description" content="vCard / Resume / Personal / Portfolio Template" />
        <meta name="author" content="cosmos-themes" />
        <!--Page Title-->
        {% block title %}
        <title>Marco Petit :: Base ::</title>
        {% endblock title %}
        <!--Plugins Css-->
        <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
        <!--Main Styles Css-->
        <link rel="stylesheet" href="{% static 'css/style-dark.css' %}">
        <!--Color Css-->
        <link rel="stylesheet" href="{% static 'css/blue-color.css' %}">
        <!--Modernizr Js-->
        <script src="{% static 'js/modernizr.js' %}"></script>
        <!--Favicons-->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        {% block preloader%}
        {% endblock preloader%}
        <div id="page">
            <!--Header Start-->
            <header>
                <div class="header-content">
                    <!--Mobile Header-->
                    <div class="header-mobile">
                        <a class="header-toggle"><i class="fas fa-bars"></i></a>
                        <h2>Marco Petit</h2>
                    </div>
                    <!--Main Header-->
                    <div class="header-main" data-simplebar>
                        <div class="image-container">
                            <h2 class="header-name">Marco Petit</h2>
                            <img src="{% static 'img/profile-img.jpg' %}" alt="profile-pic">
                        </div>
                        <!--Nav Menus-->
                        <nav class="nav-menu">
                            <ul>
                                <li><a href={% url "inicio" %} class="pt-link active"><span class="nav-menu-icon"><i class="lnr lnr-home"></i></span>Inicio</a></li>
                                <li><a href={% url "sobre_mi" %} class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-user"></i></span>Sobre mi</a></li>
                                <li><a href={% url "podcast_punto_alternativo" %} class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-mic"></i></span>Podcast</a></li>
                                <li><a href={% url "blog" %} class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-book"></i></span>Blog</a></li>
                                <li><a href={% url "cv" %} class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-license"></i></span>Currículum</a></li>
                                <li><a href={% url "contacto" %} class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-envelope"></i></span>Contacto</a></li>
                            </ul>
                        </nav>

                        <!--Nav Footer-->
                        <div class="nav-footer">
                            <!--Social Links-->
                            <ul class="social">
                                <li><a href="https://www.youtube.com/@puntoalternativo"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="https://www.instagram.com/soymarcopetit/"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://ar.linkedin.com/in/marco-petit-0a663097"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                            <!--Copyright Text
                            <div class="copy">
                                <p>2023 &copy; Cosmos-Themes.<br>All Right Reserved.</p>
                            </div>
                            -->
                        </div>

                    </div>
                </div>
            </header>
            <!--Header End-->


            <!--Main Start-->
            <div id="main" class="site-main">                
                {% block section %}
                <h1>Section</h1>
                {% endblock section%}        
            </div>
            <!--Main End-->

        </div>

        <!--Ajax Portfolio Container Start-->
        <div class="ajax-portfolio-popup">
            <span class="ajax-loader"></span>
            <div class="navigation-wrap">
                <span class="popup-close"><i class="fas fa-times-circle"></i></span>
            </div>
            <div class="content-wrap">
                <div class="popup-content"></div>
            </div>
        </div>
        <!--Ajax Portfolio Container End-->

        <!--Jquery JS-->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!--Plugins JS-->
        <script src="{% static 'js/plugins.min.js' %}"></script>
        <!--Google Map Api-->
        <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
        <!--Site Main JS-->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
